{% extends "base_generic.html" %}

{% block content %}
    <h1>Audit Log</h1>
    <table>
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Resource Name</th>
                <th>Action</th>
                <th>Payload</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.resource_name }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.payload }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
