{% extends "base_generic.html" %}
{% block content %}
  <h2>Available Jobs</h2>
  <ul>
    {% for job in job_requirements %}
      <li>
        <a href="{% url 'job_detail' job.id %}">
          {{ job.department }} - {{ job.function }} ({{ job.rank }})
        </a>
        {% if user.is_authenticated %}
          <a href="{% url 'edit_job' job.id %}" class="btn btn-secondary">Edit</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if user.is_authenticated %}
    <a href="{% url 'create_job' %}" class="btn btn-primary">Create New Job</a>
  {% endif %}
{% endblock %}
